$primary-color: #007bff;
$primaty-hover-color: #0056b3;
$border-color: #ccc;
$success-color: #28a745;
$error-color: #dc3545;
$modal-background: rgba(0, 0, 0, 0.8);
$modal-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
$close-icon-color: #aaa;
$close-icon-hover-color: #555;
